.cards-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    
    background: rgba(255, 255, 255, 55%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    flex-basis: 270px;

    margin: 15px 35px;
    padding: 50px 30px;
    cursor: pointer;

    box-shadow: 3px 3px 9px 0px rgb(0 0 0 / 20%);
    transition: box-shadow 0.3s ease-in-out;

    &:hover{
        box-shadow: 3px 3px 20px 12px rgb(0 0 0 / 20%);
        transition: box-shadow 0.3s ease-in-out;
    }


    &__image{
        margin: 0 auto;
    }

    &__name{
        padding: 10px 0px 0px;
    }

    &__country{
        text-align: right;
        padding: 10px 0px 0px;
    }

    &__price{
        padding: 10px 0px 0px;
        text-align: right;
    }
}