.header-block{
    background-image: url('../../../images/start-page/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: #ffffff;
    
    padding: 0px 150px 112px;

    &__description{
        font-size: 24px;
        line-height: 45px;

        padding: 20px 0px 0px;
    }

    &__button{
        padding: 5px 50px;
        margin: 20px 0px 0px;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;
    }
}