.our-coffee__section{
    max-width: 1200px;
    margin: 0 auto;


    .sort-beans__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        padding: 60px 0px;
    }
}