.pleasure__header{
    background: url('../../../images/pleasure/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 0px 150px 85px;

    .main-title{
        padding: 0px;
    }
}