.our-coffee__header{
    background: url('../../../images/our-coffee/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 0px 150px 85px;

    .main-title{
        padding: 0px;
    }
}