@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
  margin: 0;
  font-family: 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-title{
  font-size: 40px;
  color: #ffffff;
  text-align: center;

  padding: 30px 0px 0px;
}

.beans-divider{
  margin: 0 auto;
  padding: 10px 0px 0px;
}

.main-divider{
  margin: 0 auto;
}